{% extends "lampi/base.html" %}
{% load static %}

{% block title %}LAMPI{% endblock %}

{% block additional_head_content %}
<style>
  .frame {
    width: 50%;
    border: 3px solid #ccc;
    background: #eee;
    margin: auto;
    padding: 15px 10px;
  }

  img {
    width: 100%;
    height: 100%;
  }

  body {background-color: burlywood;}

  .content {
    width: 70%; /* Could be anything, but 75% works here. */
    margin: auto;
 }
 a, h1, h2, label, p {
    color: white;
    text-align:center;
}
</style>
{% endblock %}

{% block links %}
<a href="{% url 'lampi:detail' device.device_id %}">Lighting</a>
<a href="{% url 'lampi:media' device.device_id %}">Media</a>
{% endblock %}

{% block content %}
<div class="content">
<h1> Smart Frame Media Control </h1>
<script type="text/javascript">
  var window_global = {};
  window_global['device_id'] = "{{ device.device_id }}";
  window_global['mqtt'] = {
    'hostname': window.location.hostname,
    'websockets_port': 50002
  };
</script>

<div>
  <h2>Current Media</h2>
  <div class="frame">
    <img id="cur_media" src="https://res.cloudinary.com/thai-cloudinary/image/upload/v1649884273/panda_opfuus.jpg">
  </div>
  <h2>Upload New Media</h2>
  <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <button id="upload_widget" class="cloudinary-button" style="display:block; margin: 0 auto;">Upload files</button>
  <script type="text/javascript">
    var myWidget = cloudinary.createUploadWidget({
      cloudName: 'thai-cloudinary',
      showAdvancedOptions: true,
      uploadPreset: 'smart_frame_upload',
      sources: ["local", "url"],
      theme: 'purple',
      fonts: {
        "'Cute Font', cursive": "https://fonts.googleapis.com/css?family=Cute+Font",
      },
      text: {
        "en": {
            "queue": {
                "title": "Files to upload",
                "title_uploading_with_counter": "Uploading image to cloud ..."
            },
            "advanced": "Add message",
            "advanced_options": {
                "public_id_ph": "Message to send with upload",
                "tags_ph": "Add a tag",
                "add_new": "Add a new tag:",
                "upload_preset_placeholder": "Upload Preset"
            },
        }
      }

    }, (error, result) => {
      if (!error && result && result.event === "success") {
        console.log('Done! Here is the image info: ', result.info);
        update_media(result.info)
      }
    }
    )

    document.getElementById("upload_widget").addEventListener("click", function () {
      myWidget.open();
    }, false);
  </script>
</div>
</div>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"
  type="text/javascript"></script>

<script src="{% static 'lampi/js/tinycolor.js' %}" type="text/javascript"></script>
<script src="{% static 'lampi/js/lampi.js' %}" type="text/javascript"></script>
<script src="{% static 'lampi/js/lampi-sliders.js' %}" type="text/javascript"></script>

{% endblock %}